<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="Jonathan Hunsucker" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{ block "title" . }}{{ if isset .Params "title" }}{{ .Params.title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
  </head>
  <body>
    {{ block "main" . }}
      <div class="container--column">
        <h1>Jonathan Hunsucker</h1>
        <nav class="main">
          <ul>
            {{ range .Site.Menus.main.ByName }}
              <li><a href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a></li>
            {{- end -}}
          </ul>
        </nav>
        {{ block "content" . }}{{ end }}
      </div>
    {{ end }}
    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
